<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
{% load static %}
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Story 1 Hamzah</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'css/default.css'%}">
	<link rel="stylesheet" href="{% static 'css/layout.css'%}">
   <link rel="stylesheet" href="{% static 'css/media-queries.css'%}">
   <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">

   <!-- Script
   ================================================== -->
	<script src="{% static 'js/modernizr.js'%}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'favicon.png'%}" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Hamzah Arrayhan.</h1>
            <h3>I'm a Jakarta based <span>Information System Student</span>, <span>Coffee Enthusiast</span> and <span>Part time traveller</span> Learning and developing skill
               everyday to gain more and more knowledge. Just <a class="smoothscroll" href="#about">begin to scroll</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="{% static 'images/TH21.jpg'%}" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>Saya adalah mahasiswa semester 3 di Universitas Indonesia, jurusan Sistem Informasi. Memiliki ketertarikan dalam bidang
               web development, data science, artificial intelligence, dan business analyst.
                Diluar kegiatan akademis, saya menyukai kegiatan-kegiatan di alam bebas, seperti rock climbing, trekking, susur gua, 
                maupun camping. Selain itu saya juga memiliki kegemaran dalam bidang fotografi, videografi, photo editing, dan ilustrasi vektor.
                Saya selalu mencoba agar semua yang saya lakukan bermanfaat dan tidak hanya untuk kesenangan pribadi, namun juga bermanfaat bagi
                kesehatan, karir, dan menambah pengalaman.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Hamzah Daffa Arrayhan</span><br>
						   <span>Kota Bogor<br>
						         Jawa Barat, Indonesia
                     </span><br>
						   <span>NPM: 1906307302</span><br>
                     <span>hamzaharrayhan@gmail.com</span>
					   </p>

               </div>


            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of Indonesia</h3>
                  <p class="info">Information System <span>&bull;</span> <em class="date">2019</em></p>

                  <p>
                  Saya belajar di jurusan Sistem Informasi karena saya memiliki keinginan dan minat dalam bidang teknologi informasi 
                  dan juga bisnis, sehingga jurusan ini merupakan jurusan yang sesuai dengan minat saya tersebut. Setelah lulus dari sini, 
                  saya harap, saya mampu mendirikan perusahaan saya sendiri di bidang IT dengan fokus ke Data Science maupun Artificial Inteligence.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>SMAN 3 Bogor</h3>
                  <p class="info">Siswa jurusan MIPA <span>&bull;</span> <em class="date">2016 - 2019</em></p>

                  <p>
                  Sebagai siswa di SMAN 3 Bogor, saya lebih memfokuskan diri untuk belajar, agar mendapat jurusan kuliah di kampus yang 
                  saya inginkan. Meski begitu, saya juga memiliki banyak kegiatan yang lebih berfokus pada kelestarian alam, seperti mengikuti 
                  komunitas lindung hutan, ekspedisi-ekspedisi jelajah alam, dan sebagainya.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>SMPN 2 Bogor</h3>
                  <p class="info">Siswa <span>&bull;</span> <em class="date">2013 - 2016</em></p>

                  <p>
                  Pada masa SMP saya belajar mengenal kehidupan sosial, dan sedikit demi sedikit menemukan jati diri saya. 
                  Aktifitas yang saya lakukan ketika itu yaitu mengikuti banyak aktifitas dengan berbagai klub olahraga.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">
<!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

            

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->
         

   </section> <!-- Contact Section End-->


   

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js'%}"></script>

   <script src="{% static 'js/jquery.flexslider.js'%}"></script>
   <script src="{% static 'js/waypoints.js'%}"></script>
   <script src="{% static 'js/jquery.fittext.js'%}"></script>
   <script src="{% static 'js/magnific-popup.js'%}"></script>
   <script src="{% static 'js/init.js'%}"></script>

</body>

</html>